<!DOCTYPE html>
<head>
<title>2win</title>
<link rel="stylesheet"  type = "text/css" href="../../assets/CSS/main.css">
<!-- 2win_playlist/app/views/index.html -->
</head>
<body class="container">
    <div class="navbar">
      <img class="thumbnail" src="../../assets/images/share.png" alt=""><a href="#">Shares</a>
      <img class="thumbnail" src="../../assets/images/list.png" alt=""><a href="#">Playlists</a>
      <img class="thumbnail" src="../../assets/images/user.png" alt=""><a href="#">Personal Videos</a>
  </div>
    <div class="navbox">
      <a href="#">2Win</a>
    </div>

  <header class="header">
    <h2>Lemur Lorem</h2>
  </header>
  <div class="card">
    <div class="card-1">
      <img class="card-img" src="../../assets/images/lemur-1.jpeg" alt="lemur-1">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-2">
      <img class="card-img" src="../../assets/images/lemur-2.jpeg" alt="lemur-2">
      <div class="card-header">Lemur 2</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-3">
      <img class="card-img" src="../../assets/images/lemur-3.jpeg" alt="lemur-3">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-4">
      <img class="card-img" src="../../assets/images/lemur-4.jpeg" alt="lemur-4">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-5">
      <img class="card-img" src="../../assets/images/lemur-5.jpeg" alt="lemur-5">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-6">
      <img class="card-img" src="../../assets/images/lemur-6.jpeg" alt="lemur-6">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-7">
      <img class="card-img" src="../../assets/images/lemur-7.jpeg" alt="lemur-7">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="card">
    <div class="card-8">
      <img class="card-img" src="../../assets/images/lemur-8.jpeg" alt="lemur-8">
      <div class="card-header">Lemur 1</div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

<footer class="footer">
  <h1></h1>
  </footer>

</body>
</html>
